html {
    position:relative;
    min-height: 100%;
}

body{
    background-color: #edeef0;
}

a, p, h1, h2, h3, figure, fieldset, ul, li, textarea{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
}


.commonForm{
    max-width: 600px;
    min-width: 400px;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px 20px 25px;
    margin: auto;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
}

.form-username{
    background-image: url("../images/if_username_background.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}

.form-password{
    background-image: url("../images/if_password_background.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;

}

.rememberMe{
    padding-left: 1rem;
    margin-bottom: 6px;
}

.main-name{
    padding: 30px;
    text-align: center;
}

.navCustom{
    padding: 2px;
    background-color: #4a76a8;
}

.brandLogo span{
    color: #d7e2ec;
  /*  font-family: "Exodus - Personal Use Sharpen";*/
}

.brandHome span{
    color: #d7e2ec;
}

.brandHome span:hover{
    color: #fff;
}

.navAuthor strong{
    color: #fff;
}

.navAuthor span{
    color: #d7e2ec;
    opacity: 0.9;
}

.customBtn{
    background-color: #4a76a8;
    border-color: #4a76a8;
}

.customBtnMore{
    background-color: #51687f;
    border-color: #51687f;
    margin-right: 0;
    padding: 4px 10px;
}

.customBtnMore:hover{
    background-color: #0062CC;
    border-color: #0062CC;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #e0dcdc;
    text-align: center;
    // border-bottom: 1px solid #cc830f;

}

footer .footer-wrapper{
    padding: 8px;
}

footer .copyright{
    font-size: 16px;
    color: #212529;
}

footer #footerNet{
    color: #231f20;
}

footer #footerCracker{
    color: #027dc3;
}

.registrationStudentForm{
    max-width: 600px;
    min-width: 420px;
    border-radius: 5px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin: auto auto 50px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
}


input:invalid:not(:placeholder-shown) {border-color: red;  box-shadow: 0px 0px 2px 0px red;}

input:valid:not(:placeholder-shown) {
    border-color: #4a76a8;
}

input:valid:not + .validation-form {
    color: #4a76a8;
    background-image: url("../images/if_check2.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}

.validation-form{
    font-size: 14px;
    padding-left: 10px;
    padding-top: 5px;
    font-style: italic;
    text-align: left;
    color: #e74c3c;
}




